.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.xoGrid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.cell {
  grid-column-end: span 1;
  grid-column-end: span 1; 

  border: 2px solid;
}